@use './abstracts/mixins';
@use './abstracts/colors';

body{
    background: colors.$backgroundColor;
    min-height: 100vh;
    @include mixins.flexCenter;
    padding: 4rem;
    font-size: 2rem;
    font-family: sans-serif;
}

.link {
    text-decoration: none;
    color: black;
    padding: 5rem;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}