$backgroundColor: linear-gradient(to bottom right, #EFE9E7, #DAE0F2, darken(#F9CFF2, 20%));
$agendaBackground: #232121;
$agendaColor: rgb(255, 255, 255);
$agendaBoxShadow: rgba(0, 0, 0, 0.5);
$headerBackground: #721D6C;
$textHover: rgb(246, 99, 99);
$button: rgb(255, 0, 0);
$blackColor: rgb(0, 0, 0);
$dayColor: #52154E;
$miniTextHover: #DAE0F2;